<?xml version="1.0"?>
<launch>

  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Robot config -->
  <arg name="base_module" default="base" />
  <arg name="manipulator_module" default="dual_arm" />
  <arg name="io_module" default="io" />

  <include file="$(find up1_description)/launch/description.launch">
    <arg name="base_module" value="$(base_module)" />
    <arg name="manipulator_module" value="$(manipulator_module)" />
    <arg name="io_module" value="$(io_module)" />
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model up1
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

</launch>
