<launch>
  <!-- <arg name="world_name" value="$(find up1_gazebo)/worlds/up1.world"/> -->
  <arg name="world_name" default="worlds/empty.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <include file="$(find up1_gazebo)/launch/spawn_up1.launch">
    <!-- <arg name="x" value="1.0"/>
    <arg name="y" value="1.0"/>
    <arg name="z" value="1.0"/> -->
  </include>
</launch>
