<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find up1_gazebo)/worlds/up1.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find up1_description)/robots/up1.urdf -urdf -z 1 -model up1" />
</launch>
